.radioRoot {
  display: flex;
}

.radioBody {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  order: 1;
}

.radioElem {
  appearance: none;
  background-color: #2e2e2e;
  border: 1px solid #424242;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  transition: background-color 0.1s ease, border-color 0.1s ease;
  margin: 0;
  -webkit-tap-highlight-color: transparent;

  &:checked {
    background-color: #ff804e;
    border: 1px solid #ff804e;
  }

  &:focus-visible {
    outline: 2px solid #ff804e;
    outline-offset: 0.125rem;
  }

  &:checked + .radioELemDot {
    opacity: 1;
    transform: scale(1);
    translate: 0 0;
  }
}

.radioELemDot {
  color: #fff;
  opacity: 0;
  pointer-events: none;
  width: 0.5rem;
  height: 0.5rem;
  transform: scale(0.2);
  translate: 0 0.625rem;
  position: absolute;
  transition: opacity 0.1s ease, transform 0.2s ease, translate 0.2s ease;
  top: calc(50% - 0.5rem / 2);
  left: calc(50% - 0.5rem / 2);
}

.radioLabelWrapper {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
  order: 2;
}

.radioLabel {
  color: inherit;
  padding-inline-start: 0.75rem;
}
